<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" href="#">FoodHaven</a>
    <div>
      <% if session[:user_id] %>
        <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-danger me-2 btn-lg" %>
      <% else %>
        <%= button_to "Login", login_path, method: :get, class: "btn btn-outline-primary me-2 btn-lg" %>
      <% end %>
      <%= button_to "Favorites", users_favorites_path, method: :get, class: "btn btn-outline-success btn-lg" %>
    </div>
  </div>
</nav>

<div class="container text-center my-5">
  <h1 class="display-1">FOODHAVEN</h1>

  <div class="row justify-content-center my-3">
    <div class="col-md-4 text-center">
      <%= button_to "Find a market near you", markets_search_path, method: :get, class: "btn btn-primary btn-lg w-100" %>
    </div>
    <div class="col-md-4 text-center">
      <%= button_to "Register for new account", new_user_path, method: :get, class: "btn btn-primary btn-lg w-100" %>
    </div>
  </div>
</div>