<h1>FOODHAVEN</h1>
<%= button_to "Find a market near you", markets_search_path, method: :get %>
<% if session[:user_id] %>
  <%= button_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= button_to "Register for new account", new_user_path, method: :get %> <br>
  <%= button_to "Login", login_path, method: :get %> <br>
  <%= button_to "Login with Google", '/auth/google_oauth2'  %> <br>
<% end %>

------------------------------

<!DOCTYPE html>
<html>
  <head>
    <div class="container p-5 my-5 bg-primary text-white">
      <h1>FOODHAVEN</h1>
    </div>
  </head>

  <body>
    <div class="container p-5 my-5 bg-primary text-white">
      <a href="markets_search_path">
        <button type="button" class="btn btn-outline-info">Find a market near you</button><br>
      </a><br>
      <% if session[:user_id] %>
        <a href="logout_path">
          <button type="button" class="btn btn-outline-info">Logout</button><br>
        </a><br>
      <% else %>
        <a href="new_user_path">
          <button type="button" class="btn btn-outline-info">Register for new account</button><br>
        </a><br>
        <a href="login_path">
          <button type="button" class="btn btn-outline-info">Login</button><br>
        </a><br>
        <a href="/auth/google_oauth2">
          <button type="button" class="btn btn-outline-info">Login with Google</button><br>
        </a>
      <% end %>
    </div>
  </body>
</html>
