<% if @route.present? %>
  <p>
    <% @route[0].each do |stop| %> <br>
      <%= stop.stop_name %> <br>
      Stop Lat: <%= stop.stop_lat %> <br>
      Stop Lon: <%= stop.stop_lon %> <br>
      Has Wheelchair Acessibility? <% if stop.wheelchair_boarding == 1 %>
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
        <br>
      Scheduled departure time: <%= Time.at(stop.departure_time).strftime("%B %e, at %I:%M %p")  %> <br>
    </p>
  <% end %>
<% else %>
  <h1>No details for route available </h1>
<% end %>