<div class="container">
  <div class="display text-center">
    <h1>
      Find a Market
    </h1>
  </div>
</div><br><br>

<div class="container">
  <div class="row">
    <div class="d-grid">
      <button class="btn btn-info" style="background-color: rgba(0, 159, 183, 1)" id="location">
              Use My Location
      </button>
    </div>
  </div>
</div><br>

<div class="d-flex justify-content-center">
  <div class="spinner-grow text-warning" role="status" style="display: none" id ="spinner" >
  <span class="visually-hidden"></span>
  </div>
</div><br>

<script>

document.getElementById("location").addEventListener("click", getLocation)

function getLocation() {
  var spinner = document.getElementById('spinner');
  spinner.style.display = 'block';

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      function(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        var latitudeField = document.getElementById('latitude-field');
        var longitudeField = document.getElementById('longitude-field');

        if (latitudeField && longitudeField) {
          latitudeField.value = latitude;
          longitudeField.value = longitude;
        }
        spinner.style.display = 'none';
      },
      function(error) {
        console.error('Error getting geolocation:', error);
        spinner.style.display = 'none';
      }
    );
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
    spinner.style.display = 'none';
  }
}
</script>

<%= form_with url: markets_path, method: :get do |f| %>
  <%= f.hidden_field :latitude, id: 'latitude-field'  %>
  <%= f.hidden_field :longitude, id: "longitude-field" %>

<div class="container">

  <div class="d-grid justify-content-center">
    <h6 class="text-inline">
      <%= f.label :Street, "Street:" %> <br> 
    </h6>
    <%= f.text_field :Street  %> <br>

    <h6 class="text-inline">
      <%= f.label :City, "City:" %> <br> 
    </h6>
    <%= f.text_field :City %> <br>

    <h6 class="text-inline">
      <%= f.label :State, "State:" %> <br> 
    </h6>
    <%= f.text_field :State %> <br>

    <h6 class="text-inline">
      <%= f.label :Zip, "Zipcode:" %> <br> 
    </h6>
    <%= f.text_field :Zip %> <br>
  </div>
</div><br><br>

<div class="container">
  <h6 class="text-center"><%= f.label :radius, "Keep Search Within (miles):" %></h6>
  <div class="dropdown">
    <div class="d-grid justify-content-center">
      <%= f.select :radius, [1, 10, 25, 50] %>
    </div>
  </div>
</div><br><br>

<div class="container">
  <div class="d-grid">
  <%= f.submit "Find Markets", class:  "btn btn-info", style: "background-color: rgba(0, 159, 183, 1)"%>
  </div>
</div>
<% end %>