<% javascript_include_tag 'location_form_script.js' %>

<div data-controller="geolocation">

</div>



<%= form_with url: markets_path, method: :get do |f| %>
  <%= f.hidden_field :latitude, id: "latitude" %>
  <%= f.hidden_field :longitude, id: "longitude" %>
  <%= f.text_field :location %>
  <%= f.select :distance, [5, 10, 15, 20, 25, 50, 100], selected: params[:radius] %>
  <%= f.submit "Find Markets" %>
<% end %>