<p>
<%= @market.market.name %> <br>
Address: <%= @market.market.address %> <br>
Site: <%= @market.market.site %> <br>
Description: <%= @market.market.description %> <br>
FNAP: <%= @market.market.fnap %> <br>
SNAP Option: <%= @market.market.snap_option %> <br>
Accepted Payment: <%= @market.market.accepted_payment %> <br>
<%="Find Route For:" %> <br>
</p>