<p>
<%= @market[:attributes][:name] %> <br>
Address: <%= @market[:attributes][:address] %> <br>
Site: <%= @market[:attributes][:site] %> <br>
Description: <%= @market[:attributes][:description] %> <br>
FNAP: <%= @market[:attributes][:fnap] %> <br>
SNAP Option: <%= @market[:attributes][:snap_option] %> <br>
Accepted Payment: <%= @market[:attributes][:accepted_payment] %> <br>
<%="Find Route For:" %> <br>
</p>