<% if @market.present? && @market[:data].present? %>
  <%= @market[:data][:attributes][:name] %> <br>
  <%= @market[:data][:attributes][:address] %> <br>
  <%= @market[:data][:attributes][:site] %> <br>
  <%= @market[:data][:attributes][:description] %> <br>
  <%= @market[:data][:attributes][:fnap] %> <br>
  <%= @market[:data][:attributes][:snap_option] %> <br>
  <%= @market[:data][:attributes][:accepted_payment] %> <br>
  <%="Find Route For:" %> <br>
  <% if user_signed_in? %>
    <% if current_user.favorites.include?(@market[:data][:id]) %>
      <%= button_to "Remove from Favorites", user_favorite_path(current_user.id, @market[:data][:id]), method: :delete, remote: true %>
    <% else %>
      <%= button_to "Add to Favorites", user_favorites_path(current_user.id, market_id: @market[:data][:id]), method: :patch, remote: true %>
    <% end %>
  <% else %>
    <%= link_to "Sign in to add to favorites", login_path %>
  <% end %>
<% else %>
  <p>Market not found.</p>
<% end %>
