<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FoodHavenFeApp</title>

  <!-- Favicon -->
  <link href="/assets/img/brand/favicon.png" rel="icon" type="image/png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <!-- Icons -->
  <link href="./assets/css/nucleo-icons.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <!-- Material Kit-->
  <link type="text/css" href="./assets/css/material-kit.css" rel="stylesheet">
</head>

<body>
  <% if session[:user_id] %>
  <!-- Navbar for Logged-in User -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-dark z-index-3 py-3">
      <div class="container">
        <ul class="navbar-nav ms-auto">
          <div class="btn-group">
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-danger me-2 btn-lg" %>
            <%= button_to "Favorites", users_favorites_path, method: :get, class: "btn btn-outline-success btn-lg" %>
          </div>
        </ul>
      </div>
    </nav>
  <% else %>
  <!-- Navbar for Visitor -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white z-index-3 py-3">
    <div class="container">
      <ul class="navbar-nav ms-auto">
        <div class="btn-group">
          <%= button_to "Register for new account", new_user_path, method: :get, class: "btn btn-outline-primary me-2" %>
          <%= button_to "Login", login_path, method: :get, class: "btn btn-outline-primary me-2" %>
          <%= button_to "Login with Google", '/auth/google_oauth2', class: "btn btn-outline-primary me-2" %>
        </div>
      </ul>
    </div>
  </nav>
<% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

    <%= yield %>

  <!--   Core JS Files   -->
    <%= javascript_include_tag 'core/popper.min' %>
    <%= javascript_include_tag 'core/bootstrap.min' %>
    <%= javascript_include_tag 'plugins/perfect-scrollbar.min' %>
    <%= javascript_include_tag 'plugins/moment.min' %>
    <%= javascript_include_tag 'material-kit' %>
  </body>
</html>


